<html class="no-js" lang="en">
    <head>
        <script src="../../assets/three.min.js"></script>
        <script src="../../assets/panolens.min.js"></script>
        <link rel="stylesheet" href="/assets/main.css" />
        <style>
            body {
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <script>
            const panorama = new PANOLENS.ImagePanorama('<%= `../../assets/tour/${path}` %>');
            const viewer = new PANOLENS.Viewer({
                autoHideInfospot: false,
                output: 'console'
            });
            viewer.add(panorama);
        </script>
        <% infopoints.forEach(i => { %>
            <div id="popup-<%= i.codename %>" class="tour-popup"><%- i.description %></div>
            <script>       
                <% if(i.transition !== '') { %>
                    // Load infospot with arrow if transition
                    infospot = new PANOLENS.Infospot(300, PANOLENS.DataImage.Arrow, true);

                    infospot.position.set(<%= i.x %>, <%= i.y %>, <%= i.z %>);
                    infospot.addHoverElement(document.getElementById('popup-<%= i.codename %>'), 200);

                    infospot.element.setAttribute('data-transition', '<%= i.transition %>');
                    infospot.addEventListener('click', (e) => {
                        location.href = e.target.element.getAttribute('data-transition');
                    });
                <% } else { %>
                    // Load regular infospot
                    infospot = new PANOLENS.Infospot();
                    infospot.position.set(<%= i.x %>, <%= i.y %>, <%= i.z %>);
                    infospot.addHoverElement(document.getElementById('popup-<%= i.codename %>'), 200);
                <% } %>

                panorama.add(infospot);
            </script>
        <% }); %>
    </body>
</html>