<%- await include('views/shared/header.ejs', { title: title }) %>
    <% if (properties.length > 0) {
        for(const property of properties) { %>
            <h2><%= property.elements.title.value %></h2>
            <img class="property-thumb" src=<%= property.elements.thumbnail.value[0].url %> />
            <a href=<%= "/listing/" + property.system.codename %>>Read more</a>
    <% }} %>
<%- await include('views/shared/footer.ejs') %>